.cartItemContainer {
  display: flex;
  justify-content: space-around;
  border: 1px solid #8a2b06;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 0;
  font-weight: bold;
}
.cartItemQty {
  display: flex;
  align-items: center;
}
.cartItemQty span {
  margin: 0 10px;
}
.decrBtn {
  /* background: #caaaaa; */
  background: #f0d4d473;
  padding: 8px;
  border: 1px solid #991b1b;
  font-weight: bold;
  border-radius: 5px;
  width: 30px;
  margin: 0 5px;
  font-size: 15px;
  color: #991b1b;
}

.incrBtn {
  color: #b45309;
  font-size: 15px;
  font-weight: bold;
  background: #fffbeb85;
  padding: 8px;
  border: 1px solid #b45309;
  border-radius: 5px;
  width: 30px;
  margin: 0 5px;
}
