.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartContainer span {
  background-color: #991b1b;
  color: white;
  padding: 8px;
  border-radius: 100%;
  margin-left: 5px;
}
.cartContainer button {
  width: 200px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  color: white;
  background-color: #1e1d1e;
}
.cartContainer button:hover {
  transform: translateY(-2px);
}
