.product {
  width: 220px;
  height: 350px;
  margin-top: 20px;
  border: 1px solid rgb(238, 233, 233);
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  background: white;
  text-align: center;
}
.product img {
  object-fit: cover;
}
.product:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  cursor: pointer;
}
.button {
  margin: 10px 0;
  padding: 8px;
  color: white;
  background-color: #991b1b;
  width: 160px;
  border-radius: 20px;
  border: none;
}
.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: #7f1d1d;
}
.input {
  width: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.button span {
  margin-right: 5px;
}

@media only screen and (max-width: 400px) {
  body {
    background-color: lightblue;
  }
  .product {
    min-width: 100%;
    height: auto;
    margin: 13px 10px;
  }
}
