.headerContainer {
  background-color: #1b1a20;
  display: flex;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-evenly;
}
.navlink {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}
.home {
  order: 1;
  padding: 10px;
  cursor: pointer;
  background: white;
}
.shopping-cart {
  padding: 8px;
  cursor: pointer;
}

.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  background: #1b1a20;
  border: none;
  outline: none;
  border-radius: 50%;
}

.iconButton:hover {
  cursor: pointer;
  user-select: none;
}
.iconButtonBadge {
  position: absolute;
  top: 0;
  right: 2px;
  width: 18px;
  height: 17px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
}
.cartIcon {
  color: white;
  font-size: 26px;
}
.cartPart {
  padding: 0 35px;
  display: flex;
  align-items: center;
  font-size: 26px;
  justify-content: space-between;
  width: 100px;
}
.headerTitle {
  color: white;
  padding: 0 35px;
  user-select: none;
}
